#heading {
    color: greenyellow;
}


.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 10px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.nav-items > ul > li {
    margin: 10px;
    list-style: none;
}

.res-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    background-color: #f0f0f0;
    margin:5px;
    cursor: pointer;
}

.res-card:hover{
    border: 1px solid black;
}


.res-logo{
    width: 100%;
    
}

.search {
    padding: 10px;
}

.footer {
    border: 2px solid;
}

.footer > ul {
    display: flex;
    position:static;
    float: right;
}

.footer > ul > li {
    padding : 10px;
    list-style: none;
}


.filter{
    padding: 10px;
}

 .btn {
    padding : px;
    cursor: pointer;
}