#heading {
    color: greenyellow;
}


.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 10px;
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.nav-items > ul > li {
    margin: 10px;
    list-style: none;
}

.res-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    background-color: #f0f0f0;
    margin:5px;
    cursor: pointer;
}

.res-card:hover{
    border: 1px solid black;
}


.res-logo{
    width: 100%;
    
}

.search {
    padding: 10px;
}

.footer {
    border: 2px solid;
}

.footer > ul {
    display: flex;
    position:static;
    float: right;
}

.footer > ul > li {
    padding : 10px;
    list-style: none;
}


.filter{
    padding: 10px;
    display: flex;
}

 .btn {
    padding : px;
    cursor: pointer;
}


.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    margin: 100px;
    height: 100px;
    width: 100px;
    background-color: #f0f0f0;
}


.login{
    cursor: pointer;
    padding: 0 20px;
}


.menu-card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    width: 300px;
    margin-right: 20px; /* Spacing between cards */
}

.menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.menu-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
}

.menu-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; /* Ensure items take full width within flex container */
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 14px;
    color: #666;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #f44336;
}


a {
    text-decoration: none;
    color: inherit;
}


.user-card{
    padding: 0 10px;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}